BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y

BR2_PACKAGE_BUSYBOX=y
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL_NETBOOT_BUILDROOT_PATH)/configs/busybox.config"
BR2_SYSTEM_DHCP="eth0"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_PACKAGE_PXESERVER_INSTALLER=y

BR2_arm=y
BR2_cortex_a7=y
BR2_LINUX_KERNEL=y
# Custom kernel from https://github.com/tobetter/linux/tree/odroid-5.10.y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,tobetter,linux,32c19d3da6c5797380b42f64790a6832525ab2d2)/linux-32c19d3da6c5797380b42f64790a6832525ab2d2.tar.gz"
BR2_LINUX_KERNEL_DEFCONFIG="odroidxu4"
